doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Bootstrap CSS
  link(href='/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous')
  title Register
.container.p-3
  .mx-auto(style='width: 70%;')
    .card.mx-auto(style='width: 18rem;')
      .card-body
        if messages.error
          .alert.alert-danger(role="alert") #{messages.error}
        form(action="/register" method="post")
          h5.card-title Register
          .input-group.mb-3
            input.form-control(type='text' placeholder='Email' aria-label='email' id="email" name="email")
          .input-group.mb-3
            input.form-control(type='password' placeholder='Password' aria-label='password' id="password" name="password")
          .input-group.mb-3
            input.form-control(type='password' placeholder='Confirm Password' aria-label='confirm password' id="confirmpassword" name="confirmpassword")
          .input-group.mb-3
            .g-recaptcha(data-sitekey=sitekey)
          button.btn.btn-primary(type="submit") Register
script(src='/js/bootstrap.bundle.min.js' integrity='sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW' crossorigin='anonymous')
script(src="https://www.google.com/recaptcha/api.js" async defer)
