doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Bootstrap CSS
  link(href='/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous')
  title Weather
.container
  .mx-auto(style='width: 70%;')
    .card.mx-auto
      .card-body
        form(action="/" method="get")
          h5.card-title Enter your zipcode
          .input-group.mb-3
            input.form-control(type='text' placeholder='Your zipcode' aria-label='zipcode' id="zipcode" name="zipcode" length=10)
            button.btn.btn-primary(type="submit") Enter
    .card.mx-auto
      .card-body
        h5.card-title Weather
        img.mx-auto.d-block(src=icon_url alt='')
        h6.text-center The weather in #{city} is #{conditions}
    .card.mx-auto
      .card-body.mx-auto
        if user
          h5 You are logged with email #{user.email}
        else
          a.btn.btn-primary.mx-3(href="/login") Login
          a.btn.btn-primary.mx-3(href="/register") Register
          a.btn.btn-primary.mx-3(href="/reset") Reset Password

script(src='/js/bootstrap.bundle.min.js' integrity='sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW' crossorigin='anonymous')
